.Container-Collapse {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: space-between;
}

.collapse-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.toggle-button {
  width: 80%;
  position: relative;
  height: 50px;
  background-color: #ff6060;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  
  .Fleche {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg); /* Flèche pointe vers le haut */
    transition: transform 0.3s ease;
  }

  &.expanded .Fleche {
    transform: translateY(-50%) rotate(90deg); /* Flèche pointe vers le bas */
  }
}

.expanded-content {
  width: 80%;
  background-color: #f6f6f6;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.collapse-container.expanded .expanded-content {
  max-height: none; /* No max height restriction when expanded */
}

.IMGFondbis {
  width: 90%;
  height: 223px;
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
  object-fit: cover;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}

@media screen and (max-width: 793px) {
  .Container-Collapse {
    display: flex;
    flex-direction: column;
  }
}