.Container-Error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  font-family: 'Montserrat', sans-serif;
}


.qcq {
  font-size: 10rem;
  color: #ff505f;
  padding-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 288px;
}

.Oups {
  font-size: 2rem;
  color: #ff505f;
  margin-bottom: 2rem;
  margin: 40px;
}

.AAcceuilbis {
  padding-top: 40px;
  color: black;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f6f6f6;
  }
}
@media screen and (max-width: 800px) {
  .qcq {
    font-size: 100px;
    margin : 100px;
    padding-left:1px;
  }
  .Oups {
    font-size: 1rem;
   margin: 80px;
   margin-left: 100px;
  }

}