.logement-details-container {
  padding: 20px;

  .logement-details {
    width: 90%;
    margin: 0 auto;

    h1 {
      font-size: 36px;
      margin-bottom: 10px;
      font-weight: 500;
      color: #ff6060;
    }

    p {
      margin-bottom: 20px;
    }

    .tags span {
      margin-right: 10px;
      background-color: #ff6060;
      color: white;
      padding: 4px 25px;
      border-radius: 30px;
      display: inline-block;
      font-size: 14px;
    }

    .host {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    .rating {
      margin-bottom: 10px;
    }

    .location {
      margin-bottom: 10px;
    }

    .equipments ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 5px;
      }
    }

    .Un .Deux {
      display: flex;
      flex-direction: column;
    }

    .Un {
      position: relative;
      bottom: 60px;
    }

    .Deux {
      display: flex;
      flex-direction: column;
      align-items: end;
      padding-top: 10px;
    }

    .logement-details-haut {
      display: flex;
      flex-direction: column-reverse;
    }

    .Titre {
      padding-left: 0;
      display: flex;
      flex-direction: row;
      margin-top: 50px;
    }

    .tags {
      padding-top: 10px;
    }

    .slider-container {
      position: relative;
      width: 100%;
      margin-top: 20px;

      .slider-image {
        width: 100%;
        height: 415px;
        object-fit: cover;
        border-radius: 15px;
      }

      .prev-button,
      .next-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        color: white;
        font-size: 64px;
        cursor: pointer;
        z-index: 1;
      }

      .prev-button {
        left: 10px;
      }

      .next-button {
        right: 10px;
      }
    }

    .Container-Collapse {
      display: flex;
      justify-content: space-between; 
      gap: 120px; 
      margin-top: 20px; 

      @media screen and (max-width: 800px) {
        gap: 10px;
      }
    }

    .Collapse {
      flex: 1; 
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .toggle-button {
      width: 100%;
      position: relative;
      height: 50px;
      background-color: #ff6060;
      border: none;
      color: white;
      font-size: 18px;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e04040;
      }

      .Fleche {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg); 
        transition: transform 0.3s ease;
      }

      &.expanded .Fleche {
        transform: translateY(-50%) rotate(90deg); 
      }
    }

    .expanded-content {
      width: 100%;
      background-color: #f6f6f6;
      color: black;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .Collapse.expanded .expanded-content {
      max-height: 1000px; 
    }
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.star-pink {
  color: #ff6060;
}

.star-gray {
  color: #ccc;
}